<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-color: #000000;
}
</style>

</head>
    <body>
    <p style="color:#ffffff;">
      <span id="videoInfo">
      <b>No Video Playing ...</b>
      </span>
    </p>
    
    <!-- load script for socketio -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous">
    </script>
    
    <script>
      var videoInfoOutput = document.getElementById("videoInfo");
      var currentVideoId = "";
      var videoTrack = 0;
      var myTimer;
      var tracklist;
      var totalPlayTime = 0;
      
      /**
       * Functions and variables here are for socketio
       */
      var socket = io('http://' + document.domain + ':' + location.port);
      
      socket.on('connect', function() {    
                socket.emit('my event', {
                data: 'User Connected',
                uname: "Video Info Client"})
                
                clientId = socket.io.engine.id;
      })
        
      socket.on('my response', function(msg) {
        processMessage(msg);
        console.log(msg);
      })

      // process messages
      function processMessage(msg) {
        var msgText = msg.data;
        var videoId = msg.videoId;
        var trackList = msg.trackList
        
        if("videoInfoHTML" in msg) {
          videoInfoOutput.innerHTML = msg.videoInfoHTML;
          
          if(videoId != currentVideoId) {
            currentVideoId = videoId;
            videoTrack++;
          }
          
          var trackOutput = document.getElementById("track");
          trackOutput.innerHTML = "Track # " + videoTrack;
          
          // remove any old timer and start a new one
          if(videoTrack != 0) {
            clearInterval(myTimer);
          }
          
          startCount(msg.videoTime, msg.ctime, trackList);
        } else {
          console.log("Unhandeled socket io message: " + msgText);
        }
      }
      
      var index = 0;
      var step = 0;
      
      // start a timer to keep track of the video playing
      function startCount(totalSeconds, currentTime, trackList) {
        var timerOutput = document.getElementById("timer");
        var tracklistOutput = document.getElementById("tracklist");
        
        if(trackList) {
          step = parseInt(totalSeconds/trackList.length);
        }
        
        var startTime = currentTime; 
        var currentSeconds = currentTime; 
                
        // reset the index
        index = 0;
        
        myTimer = setInterval(count, 1000);
        
        // this function is called every second
        function count() {  
          currentSeconds++;
          
          // check to see if to display tracklist information
          if(trackList) {
            var trackName  = getTrackName(totalSeconds, currentSeconds, startTime, trackList)
            if(trackName !== "") {
              tracklistOutput.innerHTML = trackName;
            }
          }
          
          if(currentSeconds <= totalSeconds) {
            totalPlayTime++;
            timerOutput.innerHTML = toTime(currentSeconds) + " || Play Time @ " + toTime(totalPlayTime);
          } else {
            timerOutput.innerHTML = "TRACK DONE ...";
          }
        }
      }
      
      // return the track name base on where we are in the playback.
      function getTrackName(totalSeconds, currentSeconds, startTime, trackList) {
        var diff1 = currentSeconds - startTime;
        var diff2 = (index*step + parseInt(step/2)) - currentSeconds;
        
        if(diff1 <= 1 && startTime != 0) {
          for(i = 0; i < totalSeconds; i += step) {
            if(i - currentSeconds >= 0) {
              break;
            }
            index++;
          }
        }
        
        if(diff1 <= 1 || diff2 == 0) {
          //var trackNameTest = trackList[index] + index + " > " + step + " > " + currentSeconds + "/" + //totalSeconds + " | " + startTime + " >> " + diff2;
          
          var trackName = trackList[index];
          
          // show the previous song
          if(index > 0) {
            trackName = trackList[index - 1] + " | " + trackName;
          }
          
          // show the next song as well
          if(index < (trackList.length - 1)) {
            trackName = trackName + " | " + trackList[index + 1]; 
          }
          
          index++;
          
          return trackName;
        }
        
        return "";
      }
      
      // function to zero pad to left for time. No longer used as of 9/24/2024
      function plz(digit) {
        var zpad = digit + '';
        
        if (digit < 10) {
          zpad = "0" + zpad;
        }
        
        return zpad;
      }

      // return the hours /min/seconds
      // https://stackoverflow.com/questions/37096367/how-to-convert-seconds-to-minutes-and-hours-in-javascript
      function toTime(seconds) {
        var date = new Date(null);
        date.setSeconds(seconds);
        return date.toISOString().substr(11, 8);
      }
    </script>
  </body>
</html>